#include "roBa_L.keymap"

#include "boards/shields/Test/roBa_R.overlay"
&trackball {
    automouse-layer = <MOUSE>;
    scroll-layers = <SCROLL>;
    // snipe-layers = <3>;

    arrows {
        layers = <3>;
        bindings =
            <&kp RIGHT_ARROW>,
            <&kp LEFT_ARROW>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <40>;
        wait-ms = <5>;
        tap-ms = <5>;
    };

    win arrows {
        layers = <1>;
        bindings =
            <&kp LGUI(KC_RIGHT)>,
            <&kp LGUI(KC_LEFT)>,
            <&kp LGUI(KC_UP)>,
            <&kp LGUI(KC_DOWN)>;

        tick = <40>;
        wait-ms = <5>;
        tap-ms = <5>;
    };
};